absl-py==1.0.0
altgraph==0.17
anyio==3.4.0
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.3.1
astroid==2.5.3
astunparse==1.6.3
async-generator==1.10
attrs==20.3.0
auto-py-to-exe==2.8.0
autopep8==1.5.6
Babel==2.9.1
backcall==0.2.0
beautifulsoup4==4.9.3
bleach==3.2.1
blis==0.7.6
bottle==0.12.19
bottle-websocket==0.2.9
branca==0.5.0
Brotli==1.0.9
cachetools==5.0.0
catalogue==2.0.6
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
chatterbot-corpus==1.2.0
click==7.1.2
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.4
configparser==5.0.2
contourpy==1.0.6
crayons==0.4.0
cv==1.0.0
cvzone==1.5.6
cycler==0.10.0
cymem==2.0.6
Cython==0.29.23
dash==2.6.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.1
Django==3.1.5
dnspython==2.3.0
docutils==0.16
Eel==0.12.4
email-validator==1.3.1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl
entrypoints==0.3
fastapi==0.92.0
filelock==3.0.12
Fiona==1.8.22
Flask==1.1.2
Flask-Compress==1.12
flatbuffers==1.12
folium==0.12.1.post1
fonttools==4.38.0
fr-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-3.2.0/fr_core_news_sm-3.2.0-py3-none-any.whl
future==0.18.2
fuzzywuzzy==0.18.0
gast==0.4.0
gensim==4.1.2
geographiclib==1.52
geojson==2.5.0
geopandas==0.10.2
geopy==2.2.0
gevent==21.1.2
gevent-websocket==0.10.1
google-api-core==2.7.1
google-auth==2.6.2
google-auth-oauthlib==0.4.6
google-cloud-language==2.4.1
google-pasta==0.2.0
googleapis-common-protos==1.56.0
greenlet==1.0.0
grpcio==1.44.0
grpcio-status==1.44.0
gunicorn==20.1.0
h11==0.14.0
h3==3.7.4
h5py==3.2.1
httpcore==0.16.3
httptools==0.5.0
httpx==0.23.3
ibm-cloud-sdk-core==3.5.1
ibm-watson==5.1.0
idna==2.10
igraph==0.9.11
importlib-metadata==4.11.3
impy==0.2.8.2
ipykernel==5.4.2
ipython==7.19.0
ipython-genutils==0.2.0
isort==5.8.0
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.11.2
joblib==1.0.1
json5==0.9.6
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.7.0
jupyter-server==1.13.1
jupyterlab==3.2.6
jupyterlab-pygments==0.1.2
jupyterlab-server==2.10.3
keras==2.9.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
langcodes==3.3.0
lazy-object-proxy==1.6.0
libclang==14.0.1
lightgbm==3.3.3
lxml==4.6.2
Markdown==3.3.7
MarkupSafe==1.1.1
matplotlib==3.3.3
mccabe==0.6.1
MechanicalSoup==1.0.0
mediapipe==0.8.11
mistune==0.8.4
mpmath==1.2.1
munch==2.5.0
murmurhash==1.0.6
mysql-connector==2.2.9
nbclassic==0.3.4
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.5.4
networkx==2.5.1
nltk==3.7
notebook==6.4.6
numpy==1.21.5
oauthlib==3.2.0
opencv-contrib-python==4.6.0.66
opencv-python==4.5.4.60
opt-einsum==3.3.0
orjson==3.8.6
packaging==21.3
palettable==3.3.0
panda==0.3.1
pandas==1.3.2
pandocfilters==1.4.3
parso==0.8.1
path==16.2.0
path.py==12.5.0
pathy==0.6.1
patsy==0.5.3
pefile==2019.4.18
pickleshare==0.7.5
Pillow==8.1.0
plotly==5.8.0
pooch==1.6.0
powerlaw==1.5
preshed==3.0.6
prometheus-client==0.12.0
prompt-toolkit==3.0.9
proto-plus==1.20.3
protobuf==3.19.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.7.0
pycparser==2.20
pydantic==1.8.2
Pygments==2.7.3
pyinstaller==4.2
pyinstaller-hooks-contrib==2020.11
PyJWT==2.0.1
pylint==2.7.4
PyOpenGL==3.1.6
pyparsing==2.4.7
pyproj==3.2.0
pyrsistent==0.17.3
python-dateutil==2.8.1
python-dotenv==0.15.0
python-igraph==0.9.11
python-multipart==0.0.5
pytube==10.4.1
pytz==2020.5
PyYAML==6.0
pyzmq==20.0.0
qt5-applications==5.15.2.2.1
qt5-tools==5.15.2.1.0.1
regex==2022.1.18
requests==2.25.1
requests-oauthlib==1.3.1
rfc3986==1.5.0
scikit-fuzzy==0.4.2
scikit-learn==0.24.1
scikit-mobility==1.2.1
scipy==1.6.0
six==1.15.0
sklearn==0.0
sqlparse==0.4.1
srsly==2.4.2
starlette==0.25.0
statsmodels==0.13.5
testpath==0.4.4
texttable==1.6.4
tflearn==0.5.0
thinc==8.0.13
threadpoolctl==2.1.0
toml==0.10.2
tornado==6.1
tqdm==4.62.3
traitlets==5.0.5
typer==0.4.0
typing_extensions==4.5.0
tzdata==2022.6
ujson==5.7.0
urllib3==1.26.2
uvicorn==0.20.0
virtualenv==20.4.2
waitress==2.1.2
wasabi==0.9.0
watchfiles==0.18.1
wcwidth==0.2.5
webdriver-manager==3.4.0
webencodings==0.5.1
websocket-client==0.48.0
websockets==10.4
Werkzeug==1.0.1
whichcraft==0.6.1
wrapt==1.12.1
xlrd==2.0.1
zipp==3.8.0
zope.event==4.5.0
zope.interface==5.2.0

